Repository amureki/statuscheck: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-manifest, flake8, isort, mypy, pydocstyle

black:
  name: black
  entry: .tox/py38-codestyle/bin/black
  language: system

check-manifest:
  name: check-manifest
  entry: check-manifest
  language: system
  pass_filenames: false

flake8:
  name: flake8
  entry: .tox/py38-codestyle/bin/flake8
  language: system

isort:
  name: isort
  entry: .tox/py38-codestyle/bin/isort
  language: system

mypy:
  name: mypy
  entry: .tox/py38-codestyle/bin/mypy --config-file setup.cfg
  language: system

pydocstyle:
  name: pydocstyle
  entry: .tox/py38-codestyle/bin/pydocstyle
  language: system

Drop obsolete Makefile
  Makefile
Due: none

Improve MANIFEST.in
  MANIFEST.in
Due: check-manifest

Fix imports
  statuscheck/services/bases/_statusio.py
  statuscheck/services/bases/_statuspageio.py
  statuscheck/services/heroku.py
  statuscheck/services/salesforce.py
  statuscheck/services/slack.py
Due: black, flake8, isort, mypy, pydocstyle

Bring coverage back, drop twine check
  tox.ini
Due: none

Fix pre-commit hooks for github action
  .pre-commit-config.yaml
Due: none

Add changelog
  CHANGELOG.md
Due: none

Add missing check-manifest package
  requirements_dev.txt
Due: none

Ci tox setup (#200)
  .pre-commit-config.yaml
  CHANGELOG.md
  MANIFEST.in
  Makefile
  pyproject.toml
  requirements_dev.txt
  setup.cfg
  statuscheck/services/bases/_statusio.py
  statuscheck/services/bases/_statuspageio.py
  statuscheck/services/heroku.py
  statuscheck/services/salesforce.py
  statuscheck/services/slack.py
  tox.ini
Due: black, check-manifest, flake8, isort, mypy, pydocstyle

Add NewRelic and OwnBackup status checkers
  CHANGELOG.md
  statuscheck/services/__init__.py
  statuscheck/services/newrelic.py
  statuscheck/services/ownbackup.py
Due: black, flake8, isort, mypy, pydocstyle

Add NewRelic and OwnBackup status checkers (#202)
  CHANGELOG.md
  statuscheck/services/__init__.py
  statuscheck/services/newrelic.py
  statuscheck/services/ownbackup.py
Due: black, flake8, isort, mypy, pydocstyle

Bump v3.5.0
  CHANGELOG.md
  statuscheck/__about__.py
Due: black, flake8, isort, mypy, pydocstyle

Update dependencies
  requirements.txt
  requirements_dev.txt
Due: none

Update changelog
  CHANGELOG.md
Due: none

Update dependencies (#229)
  CHANGELOG.md
  requirements.txt
  requirements_dev.txt
Due: none

Add Python 3.9 support
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  setup.py
  tox.ini
Due: black, flake8, isort, mypy, pydocstyle

Add Python 3.9 support (#230)
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  setup.py
  tox.ini
Due: black, flake8, isort, mypy, pydocstyle

Update respx, fix tests
  requirements_dev.txt
  tests/test_services/test_cloudamqp.py
  tests/test_services/test_docker.py
  tests/test_services/test_github.py
  tests/test_services/test_gitlab.py
  tests/test_services/test_salesforce.py
  tests/test_services/test_slack.py
  tests/test_services/test_twilio.py
Due: black, flake8, isort, mypy, pydocstyle

Drop custom models to reduce complexity
  statuscheck/services/bases/_statusio.py
  statuscheck/services/bases/_statuspageio.py
  statuscheck/services/heroku.py
  statuscheck/services/models/generic.py
  statuscheck/services/models/heroku.py
  statuscheck/services/models/salesforce.py
  statuscheck/services/models/signal.py
  statuscheck/services/models/slack.py
  statuscheck/services/models/statusio.py
  statuscheck/services/models/statuspageio.py
  statuscheck/services/salesforce.py
  statuscheck/services/signal.py
  statuscheck/services/slack.py
  tests/test_services/test_cloudamqp.py
  tests/test_services/test_github.py
  tests/test_services/test_salesforce.py
  tests/test_services/test_slack.py
  tests/test_services/test_twilio.py
Due: black, flake8, isort, mypy, pydocstyle

Update CHANGELOG
  CHANGELOG.md
Due: none

Fill in extra data from parsed results
  statuscheck/services/bases/_statusio.py
  statuscheck/services/bases/_statuspageio.py
  statuscheck/services/heroku.py
  statuscheck/services/salesforce.py
  statuscheck/services/slack.py
Due: black, flake8, isort, mypy, pydocstyle

Drop custom models to reduce complexity (#241)
  CHANGELOG.md
  statuscheck/services/bases/_statusio.py
  statuscheck/services/bases/_statuspageio.py
  statuscheck/services/heroku.py
  statuscheck/services/models/generic.py
  statuscheck/services/models/heroku.py
  statuscheck/services/models/salesforce.py
  statuscheck/services/models/signal.py
  statuscheck/services/models/slack.py
  statuscheck/services/models/statusio.py
  statuscheck/services/models/statuspageio.py
  statuscheck/services/salesforce.py
  statuscheck/services/signal.py
  statuscheck/services/slack.py
  tests/test_services/test_cloudamqp.py
  tests/test_services/test_github.py
  tests/test_services/test_salesforce.py
  tests/test_services/test_slack.py
  tests/test_services/test_twilio.py
Due: black, flake8, isort, mypy, pydocstyle

Bump v3.6.0
  CHANGELOG.md
  statuscheck/__about__.py
Due: black, flake8, isort, mypy, pydocstyle

Add Geckoboard checker, release 3.7.0
  CHANGELOG.md
  statuscheck/__about__.py
  statuscheck/services/__init__.py
  statuscheck/services/geckoboard.py
Due: black, flake8, isort, mypy, pydocstyle

Add tests for Heroku events
  tests/test_services/test_data/heroku_incident.json
  tests/test_services/test_data/heroku_maintenance.json
  tests/test_services/test_heroku.py
Due: black, flake8, isort, mypy, pydocstyle

Fix Heroku logic
  statuscheck/services/heroku.py
Due: black, flake8, isort, mypy, pydocstyle

Bump v3.7.1
  CHANGELOG.md
  statuscheck/__about__.py
Due: black, flake8, isort, mypy, pydocstyle

Better component status handling (fix #255)
  CHANGELOG.md
  README.md
  statuscheck/services/bases/_statusio.py
  statuscheck/services/bases/_statuspageio.py
  statuscheck/services/heroku.py
  statuscheck/services/models/generic.py
  statuscheck/services/salesforce.py
  statuscheck/services/slack.py
  tests/test_services/test_cloudamqp.py
  tests/test_services/test_data/salesforce_incident.json
  tests/test_services/test_data/slack_incident.json
  tests/test_services/test_docker.py
  tests/test_services/test_github.py
  tests/test_services/test_gitlab.py
  tests/test_services/test_heroku.py
  tests/test_services/test_salesforce.py
  tests/test_services/test_slack.py
  tests/test_services/test_twilio.py
  tests/test_statuscheck.py
Due: black, flake8, isort, mypy, pydocstyle

Better component status handling (fix #255) (#257)
  CHANGELOG.md
  README.md
  statuscheck/services/bases/_statusio.py
  statuscheck/services/bases/_statuspageio.py
  statuscheck/services/heroku.py
  statuscheck/services/models/generic.py
  statuscheck/services/salesforce.py
  statuscheck/services/slack.py
  tests/test_services/test_cloudamqp.py
  tests/test_services/test_data/salesforce_incident.json
  tests/test_services/test_data/slack_incident.json
  tests/test_services/test_docker.py
  tests/test_services/test_github.py
  tests/test_services/test_gitlab.py
  tests/test_services/test_heroku.py
  tests/test_services/test_salesforce.py
  tests/test_services/test_slack.py
  tests/test_services/test_twilio.py
  tests/test_statuscheck.py
Due: black, flake8, isort, mypy, pydocstyle

Bump 3.8.0
  CHANGELOG.md
  statuscheck/__about__.py
Due: black, flake8, isort, mypy, pydocstyle

Parse Signal incident status (fix #263)
  statuscheck/services/signal.py
  tests/test_services/test_signal.py
Due: black, flake8, isort, mypy, pydocstyle

Parse Signal incident status (fix #263) (#264)
  CHANGELOG.md
  statuscheck/services/signal.py
  tests/test_services/test_signal.py
Due: black, flake8, isort, mypy, pydocstyle

Coveralls: Explicitly provide GH service
  .github/workflows/tests.yml
Due: none

Fix Heroku incident payload
  CHANGELOG.md
  statuscheck/services/heroku.py
  tests/test_services/test_data/heroku_incident.json
Due: black, flake8, isort, mypy, pydocstyle

Fix Heroku incident payload (#261)
  CHANGELOG.md
  statuscheck/services/heroku.py
  tests/test_services/test_data/heroku_incident.json
Due: black, flake8, isort, mypy, pydocstyle

Rename base branch to main
  .github/workflows/tests.yml
  CHANGELOG.md
  README.md
Due: none

Bump 3.9.0
  CHANGELOG.md
  statuscheck/__about__.py
Due: black, flake8, isort, mypy, pydocstyle

Add Epic Games and Basecamp status checkers
  CHANGELOG.md
  statuscheck/services/__init__.py
  statuscheck/services/basecamp.py
  statuscheck/services/epicgames.py
Due: black, flake8, isort, mypy, pydocstyle

Add Epic Games and Basecamp status checkers (#275)
  CHANGELOG.md
  statuscheck/services/__init__.py
  statuscheck/services/basecamp.py
  statuscheck/services/epicgames.py
Due: black, flake8, isort, mypy, pydocstyle

Add clubhouse.io checker
  CHANGELOG.md
  statuscheck/services/__init__.py
  statuscheck/services/clubhouse.py
Due: black, flake8, isort, mypy, pydocstyle

Path conditions:
  black: any of: \.py$
  check-manifest: any of: ^MANIFEST\.in$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pydocstyle: any of: \.py$
